<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b99d38a6-00a4-443f-8fa5-437a81d61479" Alias="Block List" Level="1">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "d087804b-c812-4a13-979d-40d9aa7e5168",
      "settingsElementTypeKey": "e4c4b10b-6077-437e-ad3c-58a53170f5aa",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>