<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99d35128-9961-4ed6-a2b5-b97c7d00faa7" Alias="Multinode Treepicker" Level="1">
  <Info>
    <Name>Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-06-01T19:37:13.686509+02:00"
}]]></Config>
</DataType>