<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca1111a3-f978-4fdf-9024-9dd6bae9e21d" Alias="Date Only" Level="1">
  <Info>
    <Name>Date Only</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>