<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a8a078f-d6d9-4958-9289-67e20ba954e0" Alias="Plain JSON Editor" Level="1">
  <Info>
    <Name>Plain JSON Editor</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>Test.PlainJson.EditorUi</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>