<?xml version="1.0" encoding="utf-8"?>
<DataType Key="887c4d07-e626-4f32-a1d6-9c36bb58a0a1" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 0,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>