<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bb80836-3687-407b-9e90-c96c46f1dfe8" Alias="Time Only" Level="1">
  <Info>
    <Name>Time Only</Name>
    <EditorAlias>Umbraco.TimeOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TimeOnlyPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm"
}]]></Config>
</DataType>