<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="4c52d8ab-54e6-40cd-999c-7a5f24903e4d" Alias="File" Level="1">
  <Info>
    <Name>File</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>icon-document</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>System.Threading.Tasks.Task`1[System.Xml.Linq.XElement]<Structure /><Tabs><Tab><Key>50899f9c-023a-4466-b623-aba9049885fe</Key><Caption>File</Caption><Alias>file</Alias><Type>Group</Type><SortOrder>1</SortOrder></Tab></Tabs></MediaType>