<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="cc07b313-0843-4aa8-bbda-871c8da728c8" Alias="Image" Level="1">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>System.Threading.Tasks.Task`1[System.Xml.Linq.XElement]<Structure /><Tabs><Tab><Key>79ed4d07-254a-42cf-8fa9-ebe1c116a596</Key><Caption>Image</Caption><Alias>image</Alias><Type>Group</Type><SortOrder>1</SortOrder></Tab></Tabs></MediaType>