<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="f6c515bb-653c-4bdc-821c-987729ebe327" Alias="umbracoMediaVideo" Level="1">
  <Info>
    <Name>Video</Name>
    <Icon>icon-video</Icon>
    <Thumbnail>icon-video</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>System.Threading.Tasks.Task`1[System.Xml.Linq.XElement]<Structure /><Tabs><Tab><Key>2f0a61b6-cf92-4ff4-b437-751ab35eb254</Key><Caption>Video</Caption><Alias>video</Alias><Type>Group</Type><SortOrder>1</SortOrder></Tab></Tabs></MediaType>