<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="a5ddeee0-8fd8-4cee-a658-6f1fcdb00de3" Alias="umbracoMediaAudio" Level="1">
  <Info>
    <Name>Audio</Name>
    <Icon>icon-sound-waves</Icon>
    <Thumbnail>icon-sound-waves</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>System.Threading.Tasks.Task`1[System.Xml.Linq.XElement]<Structure /><Tabs><Tab><Key>335fb495-0a87-4e82-b902-30eb367b767c</Key><Caption>Audio</Caption><Alias>audio</Alias><Type>Group</Type><SortOrder>1</SortOrder></Tab></Tabs></MediaType>