<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="a43e3414-9599-4230-a7d3-943a21b20122" Alias="umbracoMediaArticle" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article</Icon>
    <Thumbnail>icon-article</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>System.Threading.Tasks.Task`1[System.Xml.Linq.XElement]<Structure /><Tabs><Tab><Key>9af3bd65-f687-4453-9518-5f180d1898ec</Key><Caption>Article</Caption><Alias>article</Alias><Type>Group</Type><SortOrder>1</SortOrder></Tab></Tabs></MediaType>