<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="c4b1efcf-a9d5-41c4-9621-e9d273b52a9c" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Name>Vector Graphics (SVG)</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>System.Threading.Tasks.Task`1[System.Xml.Linq.XElement]<Structure /><Tabs><Tab><Key>f199b4d7-9e84-439f-8531-f87d9af37711</Key><Caption>Vector Graphics</Caption><Alias>vectorGraphics</Alias><Type>Group</Type><SortOrder>1</SortOrder></Tab></Tabs></MediaType>