<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b9109e2-91c7-4260-81c2-7d22f1abe5e3" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>