<?xml version="1.0" encoding="utf-8"?>
<DataType Key="724637a1-dfcf-42ed-acc8-d13792ff38be" Alias="Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>