<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99d35128-9961-4ed6-a2b5-b97c7d00faa7" Alias="Multinode Treepicker" Level="1">
  <Info>
    <Name>Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>