<?xml version="1.0" encoding="utf-8"?>
<DataType Key="887c4d07-e626-4f32-a1d6-9c36bb58a0a1" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 0.0,
  "MinimumValue": 0.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>