<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1b3c18b-c293-480a-bbe1-4efbe95e2520" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>