<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b6a13d3-df48-43f4-b9b3-0d27d3765be6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>pageHome</ContentType>
    <CreateDate>2023-10-28T11:35:35</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <text>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </text>
  </Properties>
</Content>