<?xml version="1.0" encoding="utf-8"?>
<Content Key="7804f9f8-4081-47c6-9015-be3b708f8505" Alias="Test (invariant)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestInvariant</Path>
    <Trashed>false</Trashed>
    <ContentType>testPageInvariant</ContentType>
    <CreateDate>2023-11-06T23:35:08</CreateDate>
    <NodeName Default="Test (invariant)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6dda406501874c2c8a6ed353004de5b6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
      "udi": "umb://element/6dda406501874c2c8a6ed353004de5b6",
      "string": "Test block (grid)",
      "multinodeTreepicker": "umb://document/3b6a13d3df4843f4b9b30d27d3765be6",
      "blocks": null,
      "sharedToggle": "1",
      "sharedString": "Shared string grid (invariant)"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockGrid>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b38346592bac40ccbcb62827f1d23b0a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
      "udi": "umb://element/b38346592bac40ccbcb62827f1d23b0a",
      "string": "Test block",
      "multinodeTreepicker": "umb://document/7804f9f8408147c69015be3b708f8505",
      "blocks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/36d6547b148544b49b2a59386b60a7c2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
            "udi": "umb://element/36d6547b148544b49b2a59386b60a7c2",
            "string": "Test inner block",
            "multinodeTreepicker": "umb://document/3b6a13d3df4843f4b9b30d27d3765be6",
            "blocks": null,
            "sharedToggle": "0",
            "sharedString": "No!"
          }
        ],
        "settingsData": []
      },
      "sharedToggle": "1",
      "sharedString": "Shared!!"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[[
  "Item 3",
  "Item 2"
]]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[{
  "value": "ffffff",
  "label": "White",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[umb://document/3b6a13d3df4843f4b9b30d27d3765be6]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[2023-11-05T00:00:00]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[2023-11-06T12:00:00]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[5.6]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[[
  "Value 3"
]]]></Value>
    </dropdown>
    <email>
      <Value><![CDATA[test@umbraco]]></Value>
    </email>
    <eyeDropperColorPicker>
      <Value><![CDATA[#134f5c]]></Value>
    </eyeDropperColorPicker>
    <imageCropper>
      <Value><![CDATA[{
  "src": "/media/fw2bqwqg/pink.jpg"
}]]></Value>
    </imageCropper>
    <markdown>
      <Value><![CDATA[# This is a title!

**Have fun.**]]></Value>
    </markdown>
    <mediaPicker>
      <Value><![CDATA[[
  {
    "key": "d7aa3643-73b3-46fc-b148-8e47872c30f0",
    "mediaKey": "6d60cc72-dd46-4c36-9b19-b65d2dc4717f"
  }
]]]></Value>
    </mediaPicker>
    <memberGroupPicker>
      <Value><![CDATA[1069]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[umb://member/79d391f6368148899c9cba9b2c0a5a00]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[umb://document/3b6a13d3df4843f4b9b30d27d3765be6]]></Value>
    </multinodeTreepicker>
    <numeric>
      <Value><![CDATA[12222]]></Value>
    </numeric>
    <radiobox>
      <Value><![CDATA[Item 1]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value><![CDATA[Test 1
Test 5]]></Value>
    </repeatableTextstrings>
    <richText>
      <Value><![CDATA[<p>This is a <strong>rich text editor</strong> <em>example</em>!</p>]]></Value>
    </richText>
    <sharedRadiobox>
      <Value><![CDATA[Item 2]]></Value>
    </sharedRadiobox>
    <sharedRichText>
      <Value><![CDATA[<p>Hello <strong>there </strong>invariant!</p>]]></Value>
    </sharedRichText>
    <sharedString>
      <Value><![CDATA[Shareeeed!]]></Value>
    </sharedString>
    <sharedToggle>
      <Value><![CDATA[1]]></Value>
    </sharedToggle>
    <slider>
      <Value><![CDATA[44]]></Value>
    </slider>
    <tags>
      <Value><![CDATA[[
  "Test Invariant",
  "Tag"
]]]></Value>
    </tags>
    <textArea>
      <Value><![CDATA[This is a test.
Hello there.]]></Value>
    </textArea>
    <textString>
      <Value><![CDATA[Text here!]]></Value>
    </textString>
    <toggle>
      <Value><![CDATA[1]]></Value>
    </toggle>
    <uploadFile>
      <Value><![CDATA[/media/0hljflgw/pink.jpg]]></Value>
    </uploadFile>
    <urlPicker>
      <Value><![CDATA[[
  {
    "name": "Test",
    "target": "_blank",
    "udi": "umb://document/3b6a13d3df4843f4b9b30d27d3765be6"
  }
]]]></Value>
    </urlPicker>
    <userPicker>
      <Value><![CDATA[-1]]></Value>
    </userPicker>
  </Properties>
</Content>