<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b6a13d3-df48-43f4-b9b3-0d27d3765be6" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2023-10-28T11:35:35</CreateDate>
    <NodeName Default="Test">
      <Name Culture="en-us">Test</Name>
      <Name Culture="pt-pt">Test PT</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockGrid>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c99df43f76c140c0815f4007d4768004",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
      "udi": "umb://element/c99df43f76c140c0815f4007d4768004",
      "string": "Test string (grid)",
      "multinodeTreepicker": "umb://document/3b6a13d3df4843f4b9b30d27d3765be6",
      "sharedToggle": "1",
      "sharedString": "123 asd"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </blockGrid>
    <blockList>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0743490548d54f21a194095285c90c53"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
      "udi": "umb://element/0743490548d54f21a194095285c90c53",
      "string": "Test string",
      "multinodeTreepicker": "umb://document/3b6a13d3df4843f4b9b30d27d3765be6",
      "sharedToggle": "1",
      "sharedString": "123 123",
      "blocks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/44fed60074f0428280ffeacbd696be39"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6167fe29-ae61-408f-9b1f-dc77f8c66fab",
            "udi": "umb://element/44fed60074f0428280ffeacbd696be39",
            "string": "Inner block",
            "multinodeTreepicker": "umb://document/3b6a13d3df4843f4b9b30d27d3765be6",
            "blocks": null,
            "sharedToggle": "1",
            "sharedString": "123 inner"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </blockList>
    <checkboxList>
      <Value Culture="en-us"><![CDATA[[
  "Item 1",
  "Item 3"
]]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </checkboxList>
    <colorPicker>
      <Value Culture="en-us"><![CDATA[{
  "value": "000000",
  "label": "Black",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "value": "ffffff",
  "label": "White",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </colorPicker>
    <contentPicker>
      <Value Culture="en-us"><![CDATA[umb://document/3b6a13d3df4843f4b9b30d27d3765be6]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value Culture="en-us"><![CDATA[2023-11-06T00:00:00]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value Culture="en-us"><![CDATA[2023-11-06T20:00:00]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value Culture="en-us"><![CDATA[123.2]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </decimal>
    <dropdown>
      <Value Culture="en-us"><![CDATA[[
  "Value 2"
]]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </dropdown>
    <email>
      <Value Culture="en-us"><![CDATA[test@umbraco]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </email>
    <eyeDropperColorPicker>
      <Value Culture="en-us"><![CDATA[#6fa8dc]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <imageCropper>
      <Value Culture="en-us"><![CDATA[{
  "src": "/media/mvvhicln/umbraco-stickers.jpg",
  "focalPoint": {
    "left": 0.35213032581453635,
    "top": 0.5601052857030132
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </imageCropper>
    <markdown>
      <Value Culture="en-us"><![CDATA[# Awesome markdown!

> This is a quote!

**Very strong**]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </markdown>
    <mediaPicker>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "44f3782f-4147-4cb8-b721-e35722e1058c",
    "mediaKey": "6d60cc72-dd46-4c36-9b19-b65d2dc4717f",
    "crops": [
      {
        "alias": "test",
        "label": "Test",
        "coordinates": {
          "x1": 0.24582955720665697,
          "y1": 0,
          "x2": 0.42017044279334304,
          "y2": 1.42108547152E-16
        }
      }
    ]
  }
]]]></Value>
      <Value Culture="pt-pt"><![CDATA[[]]]></Value>
    </mediaPicker>
    <memberGroupPicker>
      <Value Culture="en-us"><![CDATA[1069]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value Culture="en-us"><![CDATA[umb://member/79d391f6368148899c9cba9b2c0a5a00]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value Culture="en-us"><![CDATA[umb://document/3b6a13d3df4843f4b9b30d27d3765be6]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </multinodeTreepicker>
    <numeric>
      <Value Culture="en-us"><![CDATA[12]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </numeric>
    <radiobox>
      <Value Culture="en-us"><![CDATA[Item 1]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </radiobox>
    <repeatableTextstrings>
      <Value Culture="en-us"><![CDATA[Test 1
Test 2]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richText>
      <Value Culture="en-us"><![CDATA[<h1>Et nemo nimium beatus est;</h1>
<p>Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Bork Si qua in iis corrigere voluit, deteriora fecit.</p>
<ol>
<li>Praeclare Laelius, et recte sofñw, illudque vere: O Publi, o gurges, Galloni! es homo miser, inquit.</li>
<li>Vidit Homerus probari fabulam non posse, si cantiunculis tantus irretitus vir teneretur;</li>
<li>Sed tamen intellego quid velit.</li>
</ol>
<h2>Nec vero sum nescius esse utilitatem in historia, non modo voluptatem.</h2>
<p>Hoc tu nunc in illo probas. <strong>Duo Reges:</strong> constructio interrete. Bork Contineo me ab exemplis. Confecta res esset. Quid iudicant sensus? <a rel="noopener" href="https://google.com/" target="_blank">Quid de Platone aut de Democrito loquar?</a> Quodsi ipsam honestatem undique pertectam atque absolutam.</p>
<ul>
<li>Dicimus aliquem hilare vivere;</li>
<li>Intrandum est igitur in rerum naturam et penitus quid ea postulet pervidendum;</li>
<li>Ergo hoc quidem apparet, nos ad agendum esse natos.</li>
<li>Conferam tecum, quam cuique verso rem subicias;</li>
</ul>]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </richText>
    <sharedRadiobox>
      <Value Culture="en-us"><![CDATA[Item 3]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </sharedRadiobox>
    <sharedRichText>
      <Value Culture="en-us"><![CDATA[<p>Hello <strong>there</strong>!</p>]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </sharedRichText>
    <sharedString>
      <Value Culture="en-us"><![CDATA[Shared string]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </sharedString>
    <sharedToggle>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="pt-pt"><![CDATA[0]]></Value>
    </sharedToggle>
    <slider>
      <Value Culture="en-us"><![CDATA[70]]></Value>
      <Value Culture="pt-pt"><![CDATA[0]]></Value>
    </slider>
    <tags>
      <Value Culture="en-us"><![CDATA[[
  "Tag 1",
  "Tag 2"
]]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </tags>
    <textArea>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus felis volutpat, tristique tortor in, accumsan arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sollicitudin egestas mauris id sodales. Praesent aliquet vel enim et aliquam. Pellentesque ultrices consequat imperdiet. Morbi vehicula magna sit amet sem vulputate rutrum. Vivamus quis velit eget eros hendrerit viverra eget ut mi. Morbi interdum mauris sit amet purus vulputate sagittis. In ornare eleifend metus, ac lacinia arcu laoreet non.

Aliquam id dolor elit. Nam rutrum eros eu ex fermentum eleifend. Integer varius blandit facilisis. Mauris in sollicitudin libero, eget auctor est. Ut nec augue eget felis posuere placerat. Donec orci ante, finibus ac nibh non, euismod bibendum augue. Fusce vel interdum sapien, eu lacinia magna. Donec at ligula commodo, ultrices enim at, porta ligula. Nam fringilla ut purus non tempus. Aliquam bibendum in felis id sollicitudin.]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </textArea>
    <textString>
      <Value Culture="en-us"><![CDATA[123]]></Value>
      <Value Culture="pt-pt"><![CDATA[Home]]></Value>
    </textString>
    <toggle>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="pt-pt"><![CDATA[0]]></Value>
    </toggle>
    <uploadFile>
      <Value Culture="en-us"><![CDATA[/media/q0yb0acw/umbraco-stickers.jpg]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </uploadFile>
    <urlPicker>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Google",
    "target": "_blank",
    "url": "https://www.google.com"
  }
]]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </urlPicker>
    <userPicker>
      <Value Culture="en-us"><![CDATA[-1]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </userPicker>
  </Properties>
</Content>