<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c242698-9246-4852-acb0-628f6edb9823" Alias="Date Time (Unspecified)" Level="1">
  <Info>
    <Name>Date Time (Unspecified)</Name>
    <EditorAlias>Umbraco.DateTimeUnspecified</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateTimePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm"
}]]></Config>
</DataType>