<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d60cc72-dd46-4c36-9b19-b65d2dc4717f" Alias="Dark Blue" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DarkBlue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-29T10:33:56</CreateDate>
    <NodeName Default="Dark Blue" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/otgga1kg/dark-blue.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>